html {
    background-image: url(images/green-chalkboard-pic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    min-height: 100vh;
  }
  
  body {
    font-family: "Walter Turncoat", cursive; 
    margin: 0;
    height: 100vh;
    overflow: hidden;
  }
  
  h1 {
    position:static;
    width:100%;
    font-size:4vh;
    text-align:center;
    transform:translate ;
    color:#fff;
    transform:translateY (-50%);
  }
  
  .center {
    margin: auto;
    width: auto;
    padding: 16px;
  }

  .content {
    padding: 2vh 5vh 0 5vh;
  }
  
  .top-padding {
    padding-top: 15vh;
  }
  
  /* Play Again Button */
  .button-div {
    position: relative;
  }
  
  button {
    position: static;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-family: "Walter Turncoat", cursive; 
  
    border: outset 5px rgba(255, 255, 255, 0.212);
    border-radius: 5px;
    background: none;
    cursor:pointer;
    font-size:3vh;
    padding:10px 8px;
    width:150px;
    margin: 10px;
    outline: none;
  }
  
  button:hover{
    border: inset 4px rgb(115, 199, 238);
    color: rgb(255, 255, 255);
    background: rgba(118, 116, 116, 0.22);
    transition: all 0.5s ease-in-out;
  }
  
  .top-padding-button {
    padding-top: 1px;
  }

/* Ghost animation */
.ghost {
    width: 150px;
    height: 225px;
    background: #ffffff;
    box-shadow: -17px 0px 0px #dbdbdb inset, 0 0 50px #d8b952;
    border-radius: 100px 100px 0 0;
    animation: float 2s infinite
}

.eyes {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 70px 0 0;
    width: 90px;
    height: 20px;
}

.eyes:before {
    content: "";
    display: block;
    width: 15px;
    height: 25px;
    background: #00034b;
    border-radius: 50%;
}

.eyes:after {
    content: "";
    display: block;
    width: 15px;
    height: 25px;
    background: #00034b;
    border-radius: 50%;
}

.dimples {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 35px 0 0;
    width: 130px;
    height: 20px;
}

.dimples:before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: #ffbeff;
    border-radius: 50%;
}

.dimples:after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: #ffbeff;
    border-radius: 50%;
}

.feet {
    width: 100%;
    position: absolute;
    bottom: -13px;
    display: flex;
    justify-content: space-between;
}

.feet-foot {
    width: 25%;
    height: 26px;
    border-radius: 50%;
    background: #ffffff;
}

.feet-foot:last-child {
    background-image: linear-gradient(to right, #ffffff 55%, #dbdbdb 45%);
}

.shadow {
    background: #e9eb68;
    width: 150px;
    height: 40px;
    margin-top: 50px;
    border-radius: 50%;
    animation: shadow 2s infinite;
}

@keyframes float {
    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }
    }

    @keyframes shadow {
    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.9);
    }
}

/* for responsiveness */
@media (min-width:320px) {
    .animation {
        position: static;
        margin-left:44%;
    }
}

@media (min-width:400px) {
    .animation {
        position: static;
        margin-left:45.5%;
    }
}

@media (min-width:768px) {
    .animation {
        position: static;
        margin-left:42%;
    }
}

@media (min-width:1024px) {
    .animation {
        position: static;
        margin-left:44%;
    }
}

@media (min-width:1400px) {
    .animation {
        position: static;
        margin-left:45.5%;
    }
}