// /* Variabes */  
// $orange: #ffa600;
// $green: #c1d72e; #8CEEED #52b5b5
// $blue: #82d2e5;
// $grey:#f3f3f3; 
// $white: #fff;
// $base-color:$green ;

/* Mixin's */ 

// @mixin transition {
//   -webkit-transition: all 0.5s ease-in-out;
//   -moz-transition: all 0.5s ease-in-out;
//   transition: all 0.5s ease-in-out;
// }

// @mixin clear {
//   &:after {
//       content: "";
//       display: table;
//       clear: both;
//     }
// }

//  @mixin box-size {
//   -webkit-box-sizing: border-box;
//   -moz-box-sizing: border-box;
//   box-sizing: border-box;
// }

//  @mixin transition {
//   -webkit-transition: all 0.3s ease-in-out;
//   -moz-transition: all 0.3s ease-in-out;
//   transition: all 0.3s ease-in-out;
// }

// @mixin fade {
//   -moz-transition: all 1s ease-in;
//   -moz-transition:all 0.3s ease-in-out;
//   -webkit-transition:all 0.3s ease-in-out;
// }

// @mixin opacity {
//   opacity:0.4;
//   filter:alpha(opacity=40); 
//   @include fade;
// }

// @mixin corners ($radius) {
//   -moz-border-radius: $radius;
//   -webkit-border-radius: $radius;
//   border-radius: $radius; 
//   -khtml-border-radius: $radius; 
// }
@import url(https://fonts.googleapis.com/css?family=Walter+Turncoat);

body {
  background:#52b5b5;
  font-family: "Walter Turncoat", cursive; 
  color:#fff;
  height:100%;
  text-align:center;
  font-size:18px;
}

.wrappper{
  &:after {
          content: "";
          display: table;
          clear: both;
        }
  width:100%;
  margin:0 auto;
}


canvas{
  color:#fff;
  border:#fff dashed 2px;
  padding:15px;
}

h1, h2, h3 {
	font-family: "Walter Turncoat", cursive;
	font-weight: 100;
	text-transform: uppercase;
   margin:5px 0;
}

h1 {
	font-size: 2.6em;
}

h2 {
	font-size: 1.6em;
}

p{
  font-size: 1.6em;
}

.center {
  margin: auto;
  width: 45%;
  padding: 10px;
  
}


#alphabet {
  // @include clear;
  &:after {
          content: "";
          display: table;
          clear: both;
        }
  margin:15px auto;
  padding:0;
  max-width:900px;
}

#alphabet li {
  float:left;
  margin: 0 10px 10px 0;
  list-style:none;
  width:35px;
  height:30px;
  padding-top:10px;
  background:#fff;
  color:#52b5b5;
  cursor:pointer;
  // @include corners(5px);
  border-radius:5px;
  border: solid 1px #fff;
    
    &:hover{
      background:#52b5b5;
      border: solid 1px #fff;
      color:#fff;
    }
}

#my-word {
  margin: 0;
  display: block;
  padding: 0;
  display:block;
}

#my-word li {
  position: relative;
  list-style: none;
  margin: 0;
  display: inline-block;
  padding: 0 10px;
  font-size:1.6em;
}

// change to css style
.active {
  // @include opacity;
  opacity:0.4;
  filter:alpha(opacity=40); 
  cursor:default;
    
  &:hover{
      // @include fade;
      // @include opacity;
      transition:all 0.3s ease-in-out;
      opacity:0.4;
      filter:alpha(opacity=40); 
    }
}

#mylives{
  font-size:1.6em;
  text-align:center;
  display:block;
}

button{
  // @include corners (5px);
  border-radius: 5px;
  background:#52b5b5;
  color:#fff;
  border: solid 1px #fff;
  text-decoration:none;
  cursor:pointer;
  font-size:1.2em;
  padding:18px 10px;
  width:180px;
  margin: 10px;
  outline: none;
  
    &:hover{
      transition: all 0.5s ease-in-out;
      background:#fff;
      border: solid 1px #fff;
      color:#52b5b5;
    }
}

@media (max-width: 767px) {
  #alphabet {
  padding:0 0 0 15px;
}
  }

  @media (max-width: 480px) {
  #alphabet {
  padding:0 0 0 25px;
}
  }